In [3]:
import pandas as pd
import numpy as np

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [6]:
ratings = pd.read_csv("/content/drive/My Drive/jokes-data.csv")

In [7]:
ratings.head()

          id  user_id  joke_id  Rating
0  31030_110    31030      110   2.750
1  16144_109    16144      109   5.094
2    23098_6    23098        6  -6.438
3   14273_86    14273       86   4.406
4  18419_134    18419      134   9.375

In [8]:
ratings['user_id'].nunique()

40863

In [9]:
ratings['joke_id'].nunique()

139

In [10]:
ratings.shape

(1092059, 4)

In [11]:
##### surprise

In [12]:
!pip install surprise

Requirement already satisfied: surprise in /usr/local/lib/python3.10/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.10/dist-packages (from surprise) (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.3.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.10.1)

In [13]:
#### collobarative filteing

In [14]:
#### user_id, joke_id, rating are considering

In [15]:
ratings = ratings.drop("id", axis=1)

In [16]:
ratings

         user_id  joke_id  Rating
0          31030      110   2.750
1          16144      109   5.094
2          23098        6  -6.438
3          14273       86   4.406
4          18419      134   9.375
...          ...      ...     ...
1092054     9517      132   3.156
1092055    27767      118  -1.594
1092056    10580       81   2.000
1092057    31007      119   8.906
1092058     8420       98  -3.344

[1092059 rows x 3 columns]

In [17]:
from surprise import Reader, Dataset, KNNBasic, SVD

In [18]:
##### define a reader object
#### the reader object helps in parsing the file or dataframe containing ratings

In [19]:
reader = Reader()

In [20]:
#### create a the dataset to be used for building the filter

In [21]:
data = Dataset.load_from_df(ratings, reader)

In [22]:
data

In [23]:
algo = KNNBasic()

In [1]:
from surprise.model_selection import cross_validate

In [ ]:
cross_validate(algo, data, measures = ["RMSE"], cv = 2, verbose = True)

In [ ]:
algo2 = SVD()

In [ ]:
cross_validate(algo2, data, measures = ["RMSE"], cv = 5, verbose = True)